**/__pycache__/**
monado-ctl
*.AppImage
!lovr-monadolay.AppImage
**/test.py
**/**test.py
**/old_**
**_values
**/**test.lua
libmonado_bindings/
**/**.so
test/**

build.sh
lua_bridge/**
/front/bridge.lua