**/__pycache__/**
monado-ctl
*.AppImage
!lovr-monadolay.AppImage
**/test.py
**/**test.py
**/old_**
**_values
**/**test.lua
libmonado_bindings/
**/**.so
test/**

/front/threads/**
/back/named_pipe.py
#temporary
build.sh
lua_bridge/**
/front/bridge.lua